<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/images/weather.png">
        <link rel="stylesheet" href="css/styles.css">
       
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created in 2019.</p>
            
        </div>
        
        <script rel="javascript" src="js/script.js"></script>
        {{>footer}}
    </body>
</html>
