<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/styles.css">
       
        <title>Help</title>
    </head>
    <body>
        <h1>{{>header}}</h1>
        <img src="/images/worm.jpg">
        <script rel="javascript" src="js/script.js"></script>
        {{>footer}}
    </body>
</html>
