<!DOCTYPE html>
<html>
    <head>
        <title>Index</title>
        <link rel="icon" href="/images/weather.png">
        <link rel="stylesheet" href="css/styles.css">
       
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Use this site to get weather!</p>
            
             <form>
                <input placeholder="Location">
                <button>Search</button>
            </form>
            <div id="location" class="message"></div>
            <div id="results" class="message"></div>
        </div>
       
        
        <script rel="javascript" src="js/script.js"></script>
        {{>footer}}
    </body>
</html>
